header{
	background-color: #ffffff;
	border-color: #cccccc;
}

body{
	color: #777777;
	background: #4aaaa5;
}

footer{
	#666666
}

body{
	background-color: #ffffff;
	border-color: red;
	color: red;
}

h1{
	color: #4aaaa5;
}


